@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	font-family: "Montserrat";
	--primary: #344e41;
	--secondary: #a3b18a;
	--white: #f8f7ff;
	--background: #dad7cd;
	--accent1: #588157;
	--accent2: #3a5a40;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr auto;
	/* padding-left: 50px; */
	/* padding-right: 50px; */
}

.header {
	/* container grid start end */
	grid-column-start: 2;
	grid-column-end: 4;
	/*  */
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding-left: 30px;
	gap: 10px;
	background-color: var(--white);
	padding-right: 2rem;
}

.top-header {
	/* header grid start end */
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 3;
	/*  */
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	/* justify-items: center; */
	gap: 50px;
}

.search {
	/* top-header grid start/end */
	grid-column-start: 1;
	grid-column-end: 2;
	/*  */
	display: flex;
	align-items: center;
	gap: 15px;
}

.profile {
	display: flex;
	gap: 50px;
	align-content: center;
	justify-content: center;
	/* gap: 15px; */
	align-items: center;
	justify-items: center;
}

.bottom-header {
	/* header grid start end */
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
	/*  */
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	/* justify-items: center; */
	gap: 50px;
	padding-bottom: 20px;
}

.header-greeting {
	display: flex;
	gap: 15px;
	align-items: center;
}

.actions {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	justify-items: center;
	gap: 15px;
}

.actions > button {
	height: 3rem;
	width: 7rem;
	border-radius: 25px;
	border-style: none;
	font-size: 1rem;
	font-weight: 700;
	background-color: var(--primary);
	color: var(--background);
}

.actions button:hover {
	background-color: var(--accent1);
	color: var(--background);
}

.sidebar {
	/* container grid start end */
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	/*  */
	display: grid;
	grid-template-rows: auto auto 1fr;
	padding-left: 20px;
	padding-right: 20px;
	background-color: var(--primary);
	color: var(--secondary);
}

.logo {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 15px;
	align-items: center;
	/* justify-items: center; */
	font-size: 2rem;
}

.logo svg {
	height: 3rem;
	width: 3rem;
	justify-self: end;
	fill: var(--secondary);
}

.nav-list {
	padding-left: 0;
	display: grid;
	grid-template-rows: repeat(6, 60px);
}

.settings-list {
	padding-left: 0;
	display: grid;
	grid-template-rows: repeat(6, 60px);
}

.content-section {
	/* container grid start end */
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	/*  */
	background-color: var(--background);
	display: grid;
	gap: 30px;
	grid-template-columns: 1fr 1fr;

	padding: 1rem 1rem;
}

.my-tweets {
	/* content-section grid position */
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	/*  */
}

.tweet-cards {
	display: grid;
	/* grid-template-columns: 1fr 1fr; */
	grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
	height: m;
	gap: 30px;
}

.tweet-card {
	background-color: var(--white);
	padding: 20px 20px;
	border-left: 10px solid var(--primary);
	border-radius: 10px;
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
}

.action-icons {
	grid-area: 3 1 4 2;
	display: grid;
	grid-template-columns: repeat(3, 50px);
	justify-content: end;
	align-content: center;
	gap: 10px;
}

.action-icons svg {
	height: 35px;
	width: 35px;
	fill: var(--accent1);
}

.right-bar {
 grid-template-rows: auto;
 background-color: var(--background);
 padding: 1rem 1rem;
}

.announcements {

}

.announcement-cards {
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(100, 1fr));
	padding-left: 40px;
	padding-right: 40px;
	background-color: var(--white);
	border-radius: 15px;
}

.announcement-card {
	padding-top: 20px;
	padding-bottom: 20px;
}

.announcement-card h4,
p {
	margin: 5px;
}

.announcement-card:first-child {
	border-bottom: 1px solid var(--background);
}

.announcement-card:last-child {
	border-top: 1px solid var(--background);
}

.trending {

}

.trending-cards {
	display: grid;
	gap: 20px;
	grid-template-rows: repeat(4, 75px);
	background-color: var(--white);
	border-radius: 25px;
	padding: 15px;
}

.trending-card {
	display: grid;
	/* grid-template-columns: 1fr, 5fr; */
	grid-template: 1fr 1fr / 1fr 3fr;
}

.trending-card img {
	grid-row-start: 1;
	grid-row-end: 3;
	height: 75px;
	width: 75px;
	border-radius: 50px;
	align-self: center;
}

.trending-card .tag {
	align-self: self-end;
	font-weight: 700;
}

.trending-card .profile-name {
	align-self: self-start;
}

ul > li {
	display: grid;
	grid-template-columns: auto 1fr;
	font-size: 1.5rem;
	align-items: center;
	gap: 30px;
	font-weight: 700;
	/* justify-items: center; */
}

li > svg {
	width: 50px;
	height: 50px;
	fill: var(--secondary);
	justify-self: end;
	padding-left: 15px;
}

a,
a:visited,
a:active {
	text-decoration: none;
	color: var(--secondary);
}

#profile-picture-admin {
	height: 50px;
	width: 50px;
	border-radius: 50px;
}

#profile-picture-greet {
	height: 75px;
	width: 75px;
	border-radius: 50px;
}

#header-icon-mag {
	width: 30px;
	height: 30px;
	justify-self: center;
}

#header-icon-bell {
	width: 30px;
	height: 30px;
}

#search-input {
	width: 80%;
	height: 40px;
	border-radius: 50px;
	background-color: var(--background);
	border-style: none;
	padding-left: 20px;
	font-size: 1rem;
	font-weight: 600;
}
