:root {
    box-sizing: border-box;

}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;


    
}

.header {
    /* container grid start end */
    grid-column-start: 2;
    grid-column-end: 3;
    /*  */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;


}

.top-header {
    /* header grid start end */
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    /*  */
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: center;

}

.search {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#header-icon{
    width: 50px;
    height: 50px;
}

#search-input {
    width: ;
}